body {
font-family: Arial, sans-serif;
margin:0;
background:#0f172a;
color:white;
}

header {
text-align:center;
padding:40px;
background:#020617;
}

nav {
text-align:center;
padding:15px;
background:#111827;
}

nav a {
margin:15px;
color:#38bdf8;
text-decoration:none;
}

section {
padding:40px;
max-width:900px;
margin:auto;
}

.project {
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:8px;
}
